body {
  font-family: "Puritan", sans-serif;
  font-weight: 700;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toparea {
  padding-top: 80px;
  background: url("../imgs/HeaderBG.png");
  height: 200px;
  display: flex;
  flex: 0 0 60px;
}

.mini-header {
  padding-top: 30px;
  background: url("../imgs/HeaderBG.png");
  height: 100px;
  display: flex;
  flex: 0 0 60px;
}

.toparea.extended {
  height: 580px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header nav a {
  color: white;
  opacity: 0.4;
  text-decoration: none;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 700;
  transition: 0.4s;
}

.header nav a:hover {
  opacity: 1;
}

.cta {
  margin-top: 100px;
  text-align: center;
}

.cta h1 {
  color: white;
}

.cta .buttons {
  margin-top: 50px;
}

.cta .buttons a {
  margin-right: 5px;
  margin-left: 5px;
}

.features {
  margin: 130px 0;
}

.features .title {
  margin-bottom: 0px;
}

.features .feature {
  display: flex;
  color: #3e9681;
  margin-top: 90px;
  align-items: center;
}

.features .icon {
  background-color: #3e9681;
  color: white;
  padding: 20px;
  border-radius: 50%;
}

.features .text {
  padding-left: 20px;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.how-it-works {
  min-height: 600px;
  background-color: #f3f3f3;
  padding: 130px 0;
}

.how-it-works .steps {
  margin: 50px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.how-it-works .arrow {
  position: absolute;
  margin: 0 auto;
  margin-top: 140px;
}

.how-it-works .step {
  background-color: #3e9681;
  color: white;
  padding: 50px;
  max-width: 270px;
  z-index: 99;
}

.how-it-works .step .icon {
  color: #22725f;
  font-size: 50px;
  text-align: center;
  padding: 10px 0;
}

.how-it-works .step h6 {
  margin-top: 40px;
}

footer {
  background-color: #252a42;
  padding: 60px 0;
  display: flex;
}

footer .text {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}

footer .text p {
  display: inline-block;
  font-size: 18px;
}

footer .aast {
  color: #59618a;
}

footer .rights {
  color: #6d759d;
}

.materialContainer {
  display: flex;
  flex-direction: row;
}

.materialBox {
  background-color: #f0f0f0;
  padding: 40px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.4s;
  cursor: pointer;
}

.materialBox:hover {
  background-color: #d9d9d9;
}

.materialBox h5 {
  color: #252a42
}

.materialBox p {
  color: #ababab;
}

.materialBox .type {
  background-color: #6d759d;
  color: white;
  align-self: center;
  padding: 10px 15px;
  border-radius: 50px;
}

.loadingIcon {
  margin: 0 auto;
}

.videoContainer {
  background-color: #2d2d2d;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

.inputfile + label{
  background-color: #121212;
  border-radius: 50px;
  padding: 25px 35px;
  border: 0;
  font-size: 17;
  font-weight: bold;
  color: white;
  align-self: center;
  transition: 0.5s all;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label:hover {
  background-color: #252a42;
}

.processing {
  align-self: center;
  color: white;
}







